{% extends "base.html" %}

{% block body %}
	{% block menu %}
		<div class="masthead clearfix">
			<div class="inner">
				<h3 class="masthead-brand">MRP</h3>
				<ul class="nav masthead-nav">
					<li><a href="/home">Home</a></li>
					<li class="active"><a href="#">About Me</a></li>
				</u>
			</div>
		</div>
	{% endblock %}
	{% block main_body %}
		<div class="inner cover">
			<h2 class="cover-heading">About Me</h2>
			<p>Creator: MicoLin</p>
			<p>E-mail: mico_lin@foxmail.com</p>
			<p>Lab: CIS, 210E</p>
			<p>School of Infomation Science & Technology, SYSU
		</div>
	{% endblock %}
{% endblock %}
