{% extends "base.html" %}

{% block body %}
	{% block menu %}
		<div class="masthead clearfix">
			<div class="inner">
				<h3 class="masthead-brand">MRP</h3>
				<ul class="nav masthead-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="/about">About Me</a></li>
				</ul>
			</div>
		</div>
	{% endblock %}
	
	{% block main_body %}
	<div class="inner cover">
  		<h1 class="cover-heading">Music Recommendation Demo.</h1>
			<p class="lead">MRP is a music recommendation platform based on music.163.com. In this demo, we can identity your music hobby based on your account and recommend suitable music to you.</p>
			<p class="lead">
           		<a href="/search" class="btn btn-lg btn-default">Begin</a>
           	</p>
	</div>
	{% endblock %}
{% endblock %}
