<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/cover.css" rel="stylesheet">
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/jquery-1.11.2.min.js"></script>
	</head>

	<body>
		<div class="site-wrapper">
      		<div class="site-wrapper-inner">
        		<div class="cover-container">
       				<div class="masthead clearfix">
       					<div class="inner">
        					<h3 class="masthead-brand">MRP</h3>
              				<ul class="nav masthead-nav">
                				<li class="active"><a href="#">Home</a></li>
                				<li><a href="/about">About Me</a></li>
              				</ul>
            			</div>
          			</div>

          			<div class="inner cover">
            			<h1 class="cover-heading">Music Recommendation Demo.</h1>
            			<p class="lead">MRP is a music recommendation platform based on music.163.com. In this demo, we can identity your music hobby based on your account and recommend suitable music to you.</p>
            			<p class="lead">
              				<a href="/search" class="btn btn-lg btn-default">Enter</a>
            			</p>
          			</div>

          			<div class="mastfoot">
            			<div class="inner">
              				<p>Music Recommendation for <a href="http://music.163.com">EasyNetMusic</a>, by @MicoLin.</p>
            			</div>
          			</div>
        		</div>
      		</div>
   	 	</div>
	</body>
</html>
